aside {
    height: 100vh;
    position: fixed;
    width: 250px;
    background-color: rgb(200, 200, 200);
    z-index: 3;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    button {
        padding: 10px;
        border-radius: 5px;
        color: darkcyan;
        border: 0;
        transition: .5s;
        &:hover {
            cursor: pointer;
            color: #f6f6f6;
            background-color: darkcyan;
        }
    }
}

h3 {
    color: darkcyan;
    &:hover {
        cursor: pointer;
    }
}


.acc {
    --h: 200px;
    background-color: darkcyan;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: max-height 350ms ease;
    max-height: 0px;
    height: var(--h);
    p{
        text-align: center;
        color: rgb(200, 200, 200);
    }
}
.acc.open {
    max-height: var(--h);



}


nav {
    height: 8vmin;
    padding-inline: 15px;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    display: flex;
    > a > img {
        height: 100%;
        
    }
    position: relative;
    z-index: 5;
}

ul {
    flex: 1;
    display: flex;
    gap: 0.5vmin;
    justify-content: center;
    align-items: center;
    
    ;

    li {
        list-style-type: none;
        // border: 1px solid black;
        width: 80px;
        text-align: center;
        
    }

    a {
        text-decoration: none;
        color: #242424;
        font-size: clamp(14px, 3vw, 22px);
        &.active {
            font-weight: 700;
        }
    }


}


.loginDiv {
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    top: 50px;
    right: 15px;
    display: grid;
    place-content: center;
    z-index: 1;
    backdrop-filter: blur(3px);
    box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.564);
}

dialog {

    width: 450px;
    height: 450px;
    inset: 0;
    margin: auto;
    padding: 24px;
   form {
     * {
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 10px;
     }
   } 
}


