@import "../App.scss";

// Button styles 
.link{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: $dark-color;
    transition: .5s;
    svg{
        vertical-align: middle;
    }
    span{
        vertical-align: middle;
    }
    &:hover {
        cursor: pointer;
        color: $main-color;
    }
}
button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: $dark-color;
    color: $main-color;
    transition: .5s;
    &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: $dark-color;
    }
}

// Aside 
aside {
    height: 100vh;
    width: 200px;
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: $main-color;

    .searchbtn{
        background-color: $gray-color;
        &:hover{
            background-color: $dark-color;
            color: $main-color;
        }
    }

    h3 {
        color: $gray-color;
        &:hover {
            cursor: pointer;
        }
    }

    .acc {
        --h: 160px;
        background-color: $gray-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: max-height 350ms ease;
        max-height: 0px;
        height: var(--h);
        p{
            text-align: center;
            color: $main-color;
        }
    }
    .acc.open {
        max-height: var(--h)
    
    }
}

// Nav style 
nav {
    height: 10vmin;
    padding-inline: 30px;
    margin-bottom: 20px;
    background-color: $dark-color;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    > a > img {
        height: 100%; 
    }
}

ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    li {
        list-style-type: none;
        width: 100px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $gray-color;
        font-size: clamp(10px, 3vw, 20px);
        font-weight: 700;
        transition: .5s;
        &.active {
            color: $main-color;
        }
    }
}

.cart {
    position: relative;
    svg {
        height: 100%;
        font-size: 18px;
        color: $gray-color;
        transition: .5s;
        &:hover {
            color: $main-color;
        }
    }
    .add {
        position: absolute;
        top: -6vmin;
        right: -2vmin;
        font-size: 3vmin;
        color: $main-color;
    }
}
.dialogCart {
    border: 1px solid $main-color;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    p {
        color: $main-color;
        font-size: 20px;
    }
    svg {
        font-size: 50px;
        path {
            stroke: $main-color;
        }
    }
}

// Login and signup BUTTONS 
.loginDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $main-color;
    font-size: 20px;
    font-weight: 600;
    color: $main-color;
    top: 12vmin;
    right: 15px;
    display: grid;
    place-content: center;
    text-align: center;
    z-index: 6;
    backdrop-filter: blur(10px);
    box-shadow: -2px 2px 3px 0 $dark-color;
}
.singupDiv {
    top: calc(12vmin + 70px)
}

// Login and Signup Component styles
.intro {
    text-align: center;
    margin: 20px;
    color: $main-color;
}
.wrongUser {
    text-align: center;
    margin: 20px;
    color: brown;
}
.inputBox {
    text-align: center;
    p{
        height: 20px;
        padding-top: 5px;
        color: brown;
    }
}