.phone-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, auto));
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin: auto;
    max-width: 1100px;
    
    a {
        text-decoration: none;
    }
    
<<<<<<< HEAD
    div {
=======
    div:not(.rating) {
>>>>>>> master
        
        margin: auto;
        width: 100%;
        padding: 18px 25px;
        box-shadow: 0 0 3px 0 rgba(53, 4, 4, 0.06);
        border-radius: 20px;
        display: grid;
        place-content: center;
        place-items: center;
        position: relative;

        h4 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #f6f6f6;
            color: #242424;
            width: 50%;
            text-align: right;
            border-bottom-left-radius: 50px;
            font-size: 14px;
            padding: 5px;
            
        }

        h2 {
            margin-block: 20px 8px;
          font-size: 18px;
            color: rgb(132, 131, 131);
        }

<<<<<<< HEAD
        img {
            
        }

=======
>>>>>>> master
    
    }
    
}

.phone {
    width: 250px;
    img {
        width: 90%;
    }
<<<<<<< HEAD
=======

    
>>>>>>> master
}




<<<<<<< HEAD
=======
dialog > form {
    input:not([type='checkbox']) {
        display: block;
    }
}


>>>>>>> master
