.phone-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, auto));
    gap: 10px;
    margin-left: 250px;
    margin-top: 50px;

    a {
        text-decoration: none;
    }
    
    div:not(.rating) {
        
        margin: auto;
        width: 100%;
        padding: 18px 25px;
        box-shadow: 0 0 3px 0 rgba(53, 4, 4, 0.06);
        border-radius: 20px;
        display: grid;
        place-content: center;
        place-items: center;
        position: relative;

        h4 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #f6f6f6;
            color: #242424;
            width: 50%;
            text-align: right;
            border-bottom-left-radius: 50px;
            font-size: 14px;
            padding: 5px;
            
        }

        h2 {
            margin-block: 20px 8px;
          font-size: 18px;
            color: rgb(132, 131, 131);
        }

    
    }
    
}

.phone {
    width: 250px;
    img {
        width: 90%;
        height: 80%;
    }
}




dialog > form {
    input:not([type='checkbox']) {
        display: block;
    }
}


// RATING 

.star {
    svg {
        pointer-events: none;
        color: cadetblue;
        height: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}
.selected {
    svg {
        color: orange;
    }
}
.avgRating {
    color: cadetblue;
    font-size: 20px;
}
