main{
    background-color:darkslateblue;
    a:nth-of-type(2){
        color:white;
        text-decoration: none;
        font-size: 18px;
        // border: 1px solid black;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: #242424;
        transition: .3s linear;
        &:hover{
            background-color: white;
            color: black;
            transition: .5s ease;
        }
    }
}

.phone-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-items: center;
    gap: 50px;
    margin:50px auto;
    max-width: 1150px;
    a {
        text-decoration: none;
    }
    
    div {
        
        margin: auto;
        width: 100%;
        padding: 18px 25px;
        box-shadow: 0 0 3px 0 rgba(53, 4, 4, 0.06);
        border-radius: 80px 0 ;
        display: grid;
        place-content: center;
        place-items: center;
        position: relative;

        h4 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #f6f6f6;
            color: #242424;
            width: 50%;
            text-align: right;
            border-bottom-left-radius: 50px;
            font-size: 14px;
            padding: 5px;
            
        }

        h2 {
            margin-block: 20px 8px;
          font-size: 18px;
            color: rgb(132, 131, 131);
        }
    
    }
    
}

.phone {
    width: 250px;
    background: #fff;
    border: 2px solid #ccc;
    transition: .2s linear;
    img {
        width: 100%;
    }
    span{
        color: #242424;
    }
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 15px #fff;
        transition: all ease .3s;
        z-index: 1;

        // .bottom{
        //     .rating{
                
        //     }
        // }
    }
    .bottom{

        .year{
            font-size: 17px;
            font-family: sans-serif;
            color: #333;
        }
        .rating{
            display: flex;
            font-size: 20px;
            color: rgba(70, 181, 233, 0.568);
        }
        p{
            font-family: sans-serif;
            margin-top: 10px;
            color: #333;
        }
    }
}



