.bottom {
    * {
        box-shadow: none;
    }
border-radius: none;
width: 100%;
&>div {
    border-radius: 0;
    color: #242424;
    width: 100%;
    p {
        color: #242424;

    }
}

}

.star {
    svg {
        pointer-events: none;
    }
}
.selected {
    color: orange;
}

.rating {
    display: flex;
    justify-content: center;
}