@import "../App.scss";

.cartComponent {
    text-align: center;
    .empty {
        color: $main-color;
        font-size: 100px;
        margin: 20px;
    }
    p {
        font-size: 20px;
        color: $main-color;
    }
    table {
        display: inline-block;
        margin: 20px;
        color: $dark-color;
        img {
            width: 50px;
        }
        .delete{
            font-size: 20px;
            &:hover {
                cursor: pointer;
            }
        }
        th, td {
            padding: 10px 20px;
        }
        th {
            color: $main-color;
        }
        tfoot {
            tr {
                color: $main-color;
                font-weight: 600;
            }
            td:first-of-type {
                text-align: left;
            }
        }
    }
}