.intro {
    text-align: center;
    margin: 20px;
    color: cadetblue;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    input {
        padding: 10px;
        border-radius: 5px;
        outline: 0;
        border: 1px solid;
        width: 200px;
    }
}