.single {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    img {
        width: 500px;
        aspect-ratio: 1;
    }
    h1 {
        color: cadetblue;
    }
    .links {
        text-align: center;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
            text-align: center;
        }
        h2, h5 {
            color: cadetblue;
        }
    }
}

.pic-Container {
    width: 600px;
    padding-top: 40px;
    overflow: hidden;
    .wrapper {
        display: flex;
        transition: .5s;
            img {
            width: 200px;
            aspect-ratio: 1;
            transition: .5s;
            &:hover{
                cursor: pointer;
            }
        }
        .selected {
            border-radius: 5px;
            transform: translateY(-40px);
        }
    }
}