.single {
    position: relative;
    max-width: 440px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgb(132, 131, 131);
    img {
        width: 400px;
        aspect-ratio: 1;
    }
    h1 {
        color: cadetblue;
    }
    .links {
        text-align: center;
        font-size: 18px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
            text-align: center;
        }
        h2, h5 {
            color: cadetblue;
        }
    }

    .cartDiv {
        text-align: center;
        margin: 10px 0;
        svg {
            vertical-align: bottom;
        }
    }

}

.pic-Container {
    width: 600px;
    padding-top: 80px;
    overflow: hidden;
    position: absolute;
    left: -80px;
    .wrapper {
        display: flex;
        transition: .5s;
        img {
        width: 200px;
        aspect-ratio: 1;
        transition: .5s;
            &:hover{
                cursor: pointer;
            }
        }
        .selected {
            transform: translateY(-40px);
        }
    }
}