@import "../App.scss";

.single {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px 20px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 $main-color;
    text-align: center;
    img {
        width: 300px;
        aspect-ratio: 1;
    }
    h1 {
        color: $main-color;
    }
    hr{
        border: 1px solid $main-color;
    }
    .links {
        font-size: 18px;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
            color: $dark-color;
        }
        h2, h5 {
            color: $main-color;
        }
    }
}

.cartDiv {
    margin: 10px 0;
    button {
        svg{
            vertical-align: middle;
            color: $main-color;
        }
        span{
            vertical-align: middle;
        }
        &:hover svg{
            color: $dark-color;
        }
    }
}
.dialogCart {
    border: 1px solid $main-color;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    p {
        color: $main-color;
        font-size: 20px;
    }
    svg {
        font-size: 50px;
        height: auto;
        path {
            stroke: $main-color;
        }
    }
}


@media (max-width: 992px) {
    .single{
        translate: 100px;
    }
}
@media (max-width:768px) {
    .single{
        translate: 0;
    }
}
@media (max-width: 600px) {
    .single {
        max-width: 300px;
        padding: 20px 0;
    }
}